<p><%= link_to "quiz #" + @category.quiz.id.to_s, edit_quiz_path(@category.quiz) %> > <%= @category.name  %></p>
<h2>Edit question #<%= @question.id %></h2>

<%= simple_form_for([@category, @question], method: 'PUT', :validate => true) do |f| %>
    <%= f.button :submit, "Save", class: "btn btn-large btn-primary pull-right", :style => "position: fixed; left: 92%" %>
    <p>
      <%= f.input :title, :input_html => { :style => 'width: 40%' } %>
      <%= f.input :instructions, :as => 'text', :input_html => { :style => 'width: 40%', :rows => 5 } %>
      <%= image_tag 'clock.png' %>
      <%= f.select :time_limit, options_for_select(@time_limits, @question.time_limit) %>
    </p>
<% end %>

<%= form_tag "/question_images", :multipart => true, :remote => true, :id => "file_form", :method => :post do %>
    <%= hidden_field_tag :question_id, @question.id %>
    <strong>Add images to question:</strong>
    <%= file_field_tag :image, :id => "image_upload" %>
    <%= submit_tag "Add image" %>
<% end %>

<ul id="question-img-container" class="no-bullets-ul">
    <% @question.question_images.each do |question_image| %>
      <li style="display: inline">
        <%= image_tag question_image.image.url, :class => 'question-image' %>
      </li>
    <% end %>
</ul>

