<h1>Edit question #<%= @question.id %></h1>

<%= form_tag "/question_images", :multipart => true, :remote => true, :id => "file_form", :method => :post do %>
    <%= hidden_field_tag :question_id, @question.id %>
    <%= file_field_tag :image, :id => "image_upload" %>
    <%= submit_tag "Add image" %>
<% end %>

<%= form_for([@category, @question], method: 'PUT') do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :instructions %>
      <%= f.text_area :instructions, :style => 'width: 400px; height: 100px;' %>
      <%= f.label :time_limit %>
      <%= f.select :time_limit, options_for_select(@time_limits, @question.time_limit) %>
    </p>
    <ul id="question-img-container" class="no-bullets-ul">
        <% @question.question_images.each do |question_image| %>
          <li style="display: inline">
            <%= image_tag question_image.image.url, :class => 'question-image' %>
          </li>
        <% end %>
    </ul>
    <p>
      <%= f.submit "Save question", class: "btn btn-large btn-primary" %>
    </p>
<% end %>

