<p><%= link_to "quiz #" + @category.quiz.id.to_s, edit_quiz_path(@category.quiz) %> > <%= @category.name  %></p>
<h2>Edit question #<%= @question.id %></h2>

<%= form_for [@category, @question], :method => :put do |f| %>
    <div class="toolbox-panel">
      <div>
        <%= f.submit "Save", class: "btn btn-large btn-primary btn-in-toolbox" %>
      </div>
      <div>
        <%= link_to "Delete",
                      category_question_path(@question.category, @question),
                      :method => :delete,
                      :class => "btn btn-large btn-danger btn-in-toolbox",
                      :confirm => "Are you sure you want to delete the question?" %>
      </div>
    </div>
    <div>
      Question
      <%= f.text_area :question, :id => 'question-text-area' %>
    </div>
    <div>
      Solution
      <%= f.text_area :solution, :id => 'solution-text-area' %>
    </div>
    <div>
      Time limit
      <%= image_tag 'clock.png' %>
      <%= f.select :time_limit, options_for_select(@time_limits, @question.time_limit) %>
    </div>
<% end %>

<%= form_tag "/question_attachments", :multipart => true, :remote => true, :id => "file_form", :method => :post do %>
    <%= hidden_field_tag :question_id, @question.id %>
    <strong>Add images or audio files to question:</strong>
    <%= file_field_tag :attachment, :id => "attachment_upload" %>
    <%= submit_tag "Add" %>
<% end %>

<ul id="question-audio-container" class="thumbnails">
  <% @question.question_attachments.where("audio_file_name is not null").each do |question_audio| %>
    <li>
      <audio src="<%= question_audio.audio.url %>" controls="controls">
        Your browser does not support audio
      </audio>
    </li>
  <% end %>
</ul>

<ul id="question-img-container" class="no-bullets-ul">
    <% @question.question_attachments.where("image_file_name is not null").each do |question_image| %>
      <li style="display: inline">
        <%= image_tag question_image.image.url, :class => 'question-image' %>
      </li>
    <% end %>
</ul>

