<h1>Editing quiz #<%= @quiz.id %></h1>

<%= form_tag quiz_categories_path(@quiz), :method => 'post', :remote => true do %>
  <%= text_field_tag 'category', nil, :placeholder => 'Category name' %>
  <%= submit_tag 'Add' %>
<% end %>

<style>
  .quiz-table-category-header {
    text-size: 20px;
  }

  .quiz-table-category-column {
    float: left;
    padding-right: 50px;
    text-align: center;
  }

  .quiz-table-question {
    border: 1px solid black;
  }
</style>

<div class="quiz-table" id="quiz-table">
<% @quiz.categories.each do |cat| %>
  <div class="quiz-table-category-column">
    <div class="quiz-table-category-header"><h3><%= cat.name %></h3></div>
    <% cat.questions.each do |question| %>
      <div class="quiz-table-question">#<%= question.id %></div>
    <% end %>
    <div>
      <div><%= link_to "Add question", new_category_question_path(cat), :method => :get %></div>
      <div><%= image_tag 'pale_green_plus.png', :alt => 'Add question',
                :mouseover => image_path('green_plus.png'), :size => "24x24" %></div>
    </div>
  </div>
<% end %>
</div>

