<h2>Editing quiz #<%= @quiz.id %></h2>

<%= form_tag quiz_categories_path(@quiz), :method => 'post', :id => 'category-form' do %>
  <%= text_field_tag 'category', nil, :placeholder => 'Category', :id => 'new-category-name' %>
  <%= submit_tag 'Add' %>
<% end %>

<div class="quiz-table" id="quiz-table">
<% @quiz.categories.each do |cat| %>
  <div class="quiz-table-category-column" data-category-id="<%= cat.id %>">
    <div class="quiz-table-category-header"><h3><%= cat.name %></h3></div>
    <ul class="quiz-item-container block-flow no-bullets-ul sortable-questions">
      <% cat.questions.order("points ASC").each do |question| %>
        <li class="quiz-item-inner block-flow movable" data-question-id='<%= question.id %>'>
          <div class="question-points"><%= question.points %></div>
          <div><%= ((question.question.nil? or question.question.empty?) ?
                     "Question #" + question.id.to_s : question.question) %></div>
          <div><%= link_to "edit",
                          edit_category_question_path(cat, question) %></div>
        </li>
      <% end %>
    </ul>
    <a href="<%= new_category_question_path(cat) %>" data-method="get"><div class="quiz-table-add-question">
      + Add question
    </div></a>
  </div>
<% end %>
</div>

