<% if current_user %>
    <div class="toolbox-panel">
      <%= link_to "Create a quiz",
                  new_quiz_path,
                  :method => "get",
                  :class => 'btn btn-large btn-primary' %>
    </div>

    <h3>Your quizzes (<%= current_user.quizzes.count %>)</h3>
    <div class="container">
      <ul class="thumbnails">
        <% current_user.quizzes.each do |quiz| %>
            <li class="quiz-item span2">
              <div>Quiz #<%= quiz.id %></div>
              <div><a href="<%= edit_quiz_path(quiz) %>">edit</a></div>
            <div><a href="<%= new_quiz_game_path(quiz) %>">new game</a></div>
            </li>
        <% end %>
      </ul>
    </div>

    <h3>Recent games</h3>
    <div class="container">
      <ul class="thumbnails">
        <% user_games.each do |game| %>
            <li class="span12">
              <%= game.updated_at.strftime("%d/%m/%y") %> |
              <%= "Game #" + game.id.to_s %> |
              <%= ((game.complete?) ? link_to("Results", game_path(game)) : link_to("Continue game", game_path(game))) %>
            </li>
        <% end %>
      </ul>
    </div>
<% else %>
    <h1>Welcome, stranger</h1>

    <h4>Why don't you <%= link_to 'sign up', new_user_registration_path %>?</h4>
<% end %>

