<% if current_user %>
  <div class="toolbox-panel">
    <%= link_to "Create a quiz",
                new_quiz_path,
                :method => "get",
                :class => 'btn btn-large btn-primary' %>
  </div>
  <% if not current_user.bootcamp_notice_cancelled? %>
    <%= render :partial => "_bootcamp_notice.html.erb", locals: {should_be_closable: true} %>
  <% end %>

  <div class="row">
    <h3>Your quizzes (<%= current_user.quizzes.count %>)</h3>
    <div class="container">
      <ul class="thumbnails quiz-item-container">
        <% current_user.quizzes.each do |quiz| %>
            <li class="quiz-item-inner span2">
              <div class="quiz-item-title">Quiz #<%= quiz.id %></div>
              <div>Categories: <%= quiz.categories.map{|cat| cat.name}.join(', ') %></div>
              <div>Games played: <%= quiz.games.count %></div>
              <div>
                <%= link_to "new game", new_quiz_game_path(quiz) %> |
                <%= link_to "edit", edit_quiz_path(quiz) %> |
                <%= link_to "delete", quiz_path(quiz), :method => :delete %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>

    <h3>Your Recent games</h3>
    <div class="container">
      <ul class="thumbnails">
        <% user_games.each do |game| %>
            <li class="span12">
              <%= game.updated_at.strftime("%d/%m/%y") %> |
              <%= "Game #" + game.id.to_s %> |
              <%= ((game.complete?) ? link_to("Results", game_path(game)) : link_to("Continue game", game_path(game))) %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
    <h1>Welcome, stranger</h1>

    <h4>Why don't you <%= link_to 'sign up', new_user_registration_path %>?</h4>

   <%= render :partial => "_bootcamp_notice.html.erb", locals: {should_be_closable: false} %>
    </div>
<% end %>

