<% if current_user %>
    <h1>Welcome, <%= current_user.username %></h1>

    <div class="pull-right"><%= button_to "Add a question",
                                          new_user_question_path(@user),
                                          :method => "get",
                                          :class => 'btn btn-large btn-primary' %>
    </div>

    <div class="pull-right"><%= button_to "Add a quiz",
                                          new_quiz_path,
                                          :method => "get",
                                          :class => 'btn btn-large btn-primary' %>
    </div>

    <!-- Quizzes -->
    <h3>Your quizzes (<%= current_user.quizzes.count %>)</h3>
    <div class="container">
      <ul class="thumbnails">
        <% current_user.quizzes.each do |quiz| %>
            <li class="span2">
              <%= render "quizzes/quiz_item", :quiz => quiz %>
              <div>
                <%= link_to "Edit", edit_quiz_path(quiz.id) %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>

    <!-- Questions -->
    <h3>Your questions (<%= current_user.questions.count %>)</h3>
    <div class="container">
      <ul class="thumbnails">
        <% current_user.questions.each do |question| %>
            <li class="span2">
              <%= render "questions/question_item", :question => question %>
              <div>
                <%= link_to "Edit", edit_user_question_path(current_user.id, question.id) %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
<% else %>
    <h1>Welcome, stranger</h1>

<% end %>
