<% if current_user %>
    <h2>Welcome, <%= current_user.username %></h2>


    <div class="pull-right"><%= link_to "Add a quiz",
                                          new_quiz_path,
                                          :method => "get",
                                          :form => {
                                            :user_id => current_user.id
                                          },
                                          :class => 'btn btn-large btn-primary' %>
    </div>

    <h3>Your Quizzes (<%= current_user.quizzes.count %>)</h3>
    <div class="container">
      <ul class="thumbnails">
        <% current_user.quizzes.each do |quiz| %>
            <li class="span2">
              <div>Quiz #<%= quiz.id %></div>
              <div><a href="<%= edit_quiz_path(quiz) %>">edit</a></div>
            <div><a href="<%= new_quiz_game_path(quiz) %>">play!</a></div>
            </li>
        <% end %>
      </ul>
    </div>
<% else %>
    <h1>Welcome, stranger</h1>

<% end %>

