<div class="row">
  <div class="centerilized span6 offset3">
    <% @game.game_player_groups.each do |group| %>
      <div class="centerilized-box round-solid-box span2 <%= (@game.group_id_in_turn == group.id ? 'group-in-turn' : '') %>">
        <div>
          <%= group.users.select(:username).map {|user| user.username}.join(', ') %>
        </div>
        <div id="group-points"><%= group.score %></div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="centerilized quiz-table" id="quiz-table">
    <% @game.quiz.categories.each do |cat| %>
      <div class="quiz-table-category-column" data-category-id="<%= cat.id %>">
        <div class="quiz-table-category-header"><h3><%= cat.name %></h3></div>
        <ul class="no-bullets-ul quiz-item-container block-flow">
          <% cat.questions.order("points ASC").each do |question| %>
            <% if @game.was_question_played? question.id %>
                <li class="question-played quiz-table-question quiz-item-inner block-flow" data-question-id='<%= question.id %>'>
                  <div><%= question.points %></div>
                </li>
            <% else %>
              <a href="/games/<%= @game.id %>/categories/<%= question.category.id %>/questions/<%= question.id %>" style="display: block;">
                <li class="question-not-played quiz-table-question quiz-item-inner block-flow" data-question-id='<%= question.id %>'>
                  <div><%= question.points %></div>
                </li>
              </a>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

