<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Triviamanic", root_path, id: "logo", class: "brand" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <% if current_user %>
              <li><%= link_to "Log out", destroy_user_session_path %></li>
          <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "log in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-#{name}" %>
    <%= javascript_tag %>
<% end %>